
<div style="float:left;padding-left:20px; background:#efecec;box-shadow: -5px 10px 10px #a7a5a5;">
    <table>
        <tr>
            <td><b>First Name:</b></td><td>@Model.FirstName</td>
        </tr>
        <tr>
            <td><b>Last Name:</b></td>
            <td>@Model.LastName</td>
        <tr>
            <td><b>Middle Name:</b></td>
            <td>@Model.MiddleName</td>
        <tr>
            <td><b>Gender:</b></td>
            <td>@Model.Gender</td>
        </tr>
        <tr>
            <td><b>DOB:</b></td>
            <td>@Model.DOB</td>
        </tr>
        <tr>
            <td ><b>Financial Aid (Grant):</b></td>
            <td>@Model.FAGrantAmount</td>
        </tr>
@if (Model.HouseHold != null)
{
        <tr>
            <td colspan="2"><b>HouseHold</b></td>
        </tr>
        <tr>
            <td><b>HouseHold Name:</b></td><td>@Model.HouseHold.Name</td>
</tr>
        if (Model.HouseHold.Phone != null )
        {
        <tr>
            <td><b>HouseHold Phone:</b></td>
            <td>@Model.HouseHold.Phone</td>
        </tr>
        }
    if (Model.HouseHold.Email != null)
    {
        <tr>
            <td><b>HouseHold Email:</b></td>
            <td>@Model.HouseHold.Email</td>
        </tr>
    }
        <tr>
            <td><b>Address:</b></td>
            <td>
                @Model.HouseHold.Address.Street <br />
                @Model.HouseHold.Address.City<br />
                @Model.HouseHold.Address.State<br />
                @Model.HouseHold.Address.Zip<br />
                @Model.HouseHold.Address.Country
            </td>
        </tr>

        if (Model.HouseHold.Associations[0] != null)
        {
        <tr>
            <td colspan="2"><b>Parent 1</b></td>
        </tr>
        <tr>
            <td><b>Parent 1 First Name:</b></td>
            <td>@Model.HouseHold.Associations[0].FirstName</td>
        </tr>
        <tr>
            <td><b>Parent 1 Last Name:</b></td>
            <td>@Model.HouseHold.Associations[0].LastName</td>
        </tr>
        <tr>
            <td><b>Parent 1 Middle Name:</b></td>
            <td>@Model.HouseHold.Associations[0].MiddleName</td>
        </tr>
        <tr>
            <td><b>Parent 1 RelationShip:</b></td>
            <td>@Model.HouseHold.Associations[0].Relationship</td>
        </tr>
        <tr>
            <td><b>Parent 1 primary phone:</b></td>
            <td>@Model.HouseHold.Associations[0].PrimaryPhone</td>
        </tr>
        <tr>
            <td><b>Parent 1 primary email:</b></td>
            <td>@Model.HouseHold.Associations[0].PrimaryEmail</td>
        </tr>
        }
        if (Model.HouseHold.Associations[1] != null)
        {
            <tr>
                <td colspan="2"><b>Parent 1</b></td>
            </tr>
            <tr>
                <td><b>Parent 2 First Name:</b></td>
                <td>@Model.HouseHold.Associations[1].FirstName</td>
            </tr>
            <tr>
                <td><b>Parent 2 Last Name:</b></td>
                <td>@Model.HouseHold.Associations[1].LastName</td>
            </tr>
            <tr>
                <td><b>Parent 2 Middle Name:</b></td>
                <td>@Model.HouseHold.Associations[1].MiddleName</td>
            </tr>
            <tr>
                <td><b>Parent 2 RelationShip:</b></td>
                <td>@Model.HouseHold.Associations[1].Relationship</td>
            </tr>
            <tr>
                <td><b>Parent 2 primary phone:</b></td>
                <td>@Model.HouseHold.Associations[1].PrimaryPhone</td>
            </tr>
            <tr>
                <td><b>Parent 2 primary email:</b></td>
                <td>@Model.HouseHold.Associations[1].PrimaryEmail</td>
            </tr>
        }
}
</table>
</div>