@model IEnumerable<CommunityBrands.Demo.Ravenna.Models.MemberModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        
        $(function () {
            var $tblChkBox = $("input:checkbox");
            $("#ckbCheckAll").on("click", function () {
                $($tblChkBox).prop('checked', $(this).prop('checked'));
            });
        });
        function _showOverLay() {
            var ov = $("#Overlay");
            ov.show();
        }
        function _hideOverLay() {
            var ov = $("#Overlay");
            ov.hide();
        }
        function getMember(Id) {
            _showOverLay();
            debugger;
            var url = "@Html.Raw(Url.Action("GetMember", "Member", new { id = "-id" }))";
            url = url.replace("-id", Id);
            $.ajax({
                url: url, 
                type: "GET", 
                cache: false, 
                success: function (result) {
                    $("#mycontentView").html(result);
                    _hideOverLay();
                },
                error: function () {
                    _hideOverLay();
                    //handle your error here
                }
            });
        }      
    </script>
    <style>
       .overlay {
            position: fixed;
            text-align: center;
            height: 100%;
            width: 100%;
            top: 0; 
            right: 0; 
            left: 0;
            z-index: 9999999; 
            background-color: #000000; 
            opacity: 0.7;
            display:none;
        }
        .link-1
        {
            color:#0094ff;
            text-decoration:none;
            font-weight:600;
        }
        .link-1:hover
        {
            color:#ccc;
        }

    </style>
</head>
<body style="padding:0px;margin:0px;">
    <div style="width: 100%;height: 65px;border-bottom: 1px solid #ccc;margin-bottom: 10px;background: #040404;padding: 13px 13px;padding-bottom: 0px;position:fixed;">
        <img src="https://embed-ssl.wistia.com/deliveries/a541ae859a0712c3df5358ee244ab89f69eae04e.png?image_resize=470x400%3E" />

    </div>

    <div style="padding:10px 15px;padding-top:100px;">

        <div><font color="red">@ViewBag.ErrorMessage</font></div>
        <div><font color="Green">@ViewBag.SuccessMessage</font></div>
        <div style="float:left">
            <input type="checkbox" id="ckbCheckAll" />
            <label for="ckbCheckAll">Select All</label> &nbsp;&nbsp;
            @Html.ActionLink("<<Previous", "Previous", new { skip = Session["skip"], take = Session["take"] }, new { style = "text-decoration:none; display:" + ((Session["skip"].ToString() == "0") ? "none" : "" ) }) |
            @Html.ActionLink("Next>>", "Next", new
       {
           skip = Session["skip"],
           take = Session["take"]
       }, new { style = "text-decoration:none;" })

             &nbsp;&nbsp; &nbsp;&nbsp; @Html.ActionLink("Acknowledged Requests", "Acknowledge","", new { style = "text-decoration:none;"})


            <br /><br>
            @using (Html.BeginForm("SendData", "Member", FormMethod.Post))
            {
                <table>
                    @foreach (CommunityBrands.Demo.Ravenna.Models.MemberModel item in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="isSelected" value="@item.MemberId" />
                            </td>
                            <td>
                                <a class="link-1" id="btnLinkInfo" style="text-decoration:none" href='javascript:getMember(@item.MemberId)'>@item.FirstName @item.LastName</a>
                            </td>
                        </tr>
                    }
                </table>
                <input type="submit" value="Send Data" /><br /><br />

            }
        </div>
        <div id="mycontentView" style="position:fixed; top:79px;left:400px;max-height:85%;overflow-y:auto;">

        </div>
    </div>
    <div id="Overlay" name="Overlay" class="overlay">
        <img style="margin-top:15%" src="http://www.lumiagem.com/images/site_elements/loadingGraphic.gif" alt="Loading..">
    </div>
</body>
</html>
